<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <%= fields_for :revision, @revision do |rf| %>
    <div class="field">
      <%= rf.label :image_url %><br>
      <%= rf.text_field :image_url %>
    </div>
    <div class="field">
      <%= rf.label :content %><br>
      <%= rf.text_area :content %>
    </div>
  <% end %>
  <div class="field">
    <label>Category Titles: 
      <%= text_field_tag 'article[category_titles]' %>
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
