<%= render 'bar' %>

<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<div class="ib toc">
  <h3>Table of Contents:</h3>
  <%= render_toc_markdown(@article.current_content) %>
</div>
<%= image_tag(@article.current_image) %>

<div class="content">
  <%= render_markdown(@article.current_content) %>
</div> <!-- .content -->

<div class="categories">
<h3>Categories:</h3>
  <ul>
    <% @article.categories.each do |category| %>
      <li><%= link_to category.title, category %> <%= link_to "Remove", article_category_path(@article, category), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  </ul>
</div>

<%= creation_info %>

<%= modification_info %>

<%= link_to 'Back', articles_path %>
