<%= render 'bar' %>

<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<div class="ib toc">
  <h3>Table of Contents:</h3>
  <%= render_toc_markdown(@article.current_content) %>
</div>
<%= image_tag(@article.current_image) %>

<%= render_markdown(@article.current_content) %>

<%= creation_info %>

<%= modification_info %>

<%= link_to 'Back', articles_path %>
