<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user == current_user %>
  <%= render 'profile' %>
<% end %>

<div class="contributions">
  <p>Number of unique articles contributed to: <%= link_to @user.num_articles, user_articles_path(@user) %></p>
  <p>Number of edits made: <%= @user.num_revisions %> </p>
  <p>Number of comments made: <%= @user.num_comments %></p>
</div>

<%= link_to 'Back', users_path %>
