<%= render :partial => '/articles/bar' %>

<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>
<%= rev_modification_info(@revision) %>
<div class="ib toc">
  <h3>Table of Contents:</h3>
  <%= render_toc_markdown(@revision.content) %>
</div>
<%= image_tag(@revision.image_url) %>

<%= render_markdown(@revision.content) %>


<%= link_to 'Back', articles_path %>