<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @revision.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @revision.user %>
</p>

<p>
  <strong>Article:</strong>
  <%= @revision.article %>
</p>

<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
