<p id="notice"><%= notice %></p>

<h1><%= @category.title.capitalize %></h1>

<h3>Articles in this category:</h3>

<ul>
  <% @category.articles.each do |article| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
